/* src/styles/layout.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #0d0d0d;
}

/* === LAYOUT === */
.pageWrapper {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  background: #0d0d0d;
}

.content {
  flex: 1; /* Füllt automatisch den Platz zwischen Header & Footer */
  display: flex;
  flex-direction: column;
  justify-content: center; /* zentriert vertikal bei wenig Inhalt */
  align-items: center;
  padding: 2rem 1rem;
}

