/* ============================================
   🧩 HEADER ORGANISM – Verosoma CD V1 (Mobile First)
   Fix dark, modular & responsive
============================================ */

/* === Layout Alignment === */
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* === Desktop Navigation === */
.navDesktop {
  display: none;
}

/* === Mobile Navigation === */
.navMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/* === Desktop Switch ab 768px === */
@media (min-width: 768px) {
  .navDesktop {
    display: flex;
    margin-right: var(--space-4)
  }

  .navMobile {
    display: none;
  }
}
